# Зависимости
node_modules
npm-debug.log

# Nuxt сборка
.nuxt
.output
.cache

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Логи
logs
*.log

# Временные файлы
.DS_Store
.env.local
.env.*.local

# Документация
README.md
GEMINI.md
